/**  Barre de naviguation */

body{
    margin: 0px;
    padding: 0px;
    font-family:'Roboto Mono', monospace;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#F4F4F3 , #BFBFBE);
    
}

.mainContainer img{
    height: 11vh;
    width: 11vh;
}
.mainContainer1{
    display: flex;
    width: 30%;
    margin-top: 0px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    list-style: none;
}
.mainContainer1 li{
    font-size: 1.5vw;
}

/** Titre principale */
.mainContainer2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer2 h2{
    margin-top: 0px;
    font-size: 2vw;
}
.mainContainer2 h1{
    font-size: 2.4vw;
}

/** Barre de tache */

.barreDeTache{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5vh;
    align-items: center;
}
#name{
    width: 90%;
    border: 0.2vw solid black ;
}
#name:focus{
    outline: black solid 0.2vw;
}
#tache{
    font-size: 1.4vw;
    font-weight: bold;
    margin-bottom: 2vh;
}
.passageDroite{
    display: flex;
    width: 60%;
}

.buttonAjouter{
    margin-left: 0.3vw;
    font-size: 1vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    transition: 0.23s ease-out;
    cursor: pointer;
}

.buttonAjouter:hover{
    background-color: black;
    color: white;
    border: 0.2vw solid black ;
    border-radius: 5% 5% 5% 5%;
}

/** PARTIE des taches a faire et celle a la poubelle */

.bigContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
}
.contenue h2{
    font-size: 1.5vw;
    font-style: italic;
    padding-left: 1vw;
}
.contenue1 h2{
    font-size: 1.5vw;
    font-style: italic;
    padding-left: 1vw;
}

.contenue{
    margin-right: 2vw;
    border: 0.1vw solid black;
    width: 50%;
    height: 40vh;
}
.contenue1{
    margin-left: 2vw;
    border: 0.1vw solid black;
    width: 50%;
}
.lista{
    font-family:'Roboto Mono', monospace;
    list-style: none;
    font-size: 1.4vw;
    cursor: pointer;
    transition: transform 500ms ;
}
/**
.lista:hover{
    transform: translate(-7vh);
}
*/

.newBouton{
    margin-left: 1vw;
    font-size: 1vw;
    transition: transform 4s, background-color 4s;
    background-color: #C5C5C4;
    font-family:'Roboto Mono', monospace;
    font-weight: bold;
    margin-right: 2vw;
    display: flex;
    align-self: center;
}
.newBouton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: rotate(360deg); 
}
.diva{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw;
    width: 100%;
}

.paragraphhe{
    display: flex;
    overflow-wrap: anywhere;
    padding: 0px;
}

.supressionDesTaches .diva .newBouton{
    display: none;
}
.paragra{
    font-size: 1vw;
}

.bomba{
    margin-left: 1vw;
    font-size: 1vw;
    transition: transform 4s, background-color 4s;
    background-color: #C5C5C4;
    font-family:'Roboto Mono', monospace;
    font-weight: bold;
}
.bomba:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: rotate(360deg);
}

/** amusement avec le JS et le style */


/* Partie des liste des taches */
